@{
  ViewData["Title"] = "register Page";
}


<h1>Register</h1>
<hr />
<div class="text-center">
  <form action="/Auth/postregister">

    <label for="id">id</label><br>
    <input type="test" id="id" name="id"><br>

    <label for="firstname">First Name:</label><br>
    <input type="text" id="firstname" name="firstname" value=""><br>

    <label for="lastname">Last name:</label><br>
    <input type="text" id="lastname" name="lastname" value=""><br>

    <label for="college">college:</label><br>
    <input type="text" id="college" name="college" value=""><br>

    <label for="email">email</label><br>
    <input type="email" name="email" id="email"><br>

    <label for="password">Password</label><br>
    <input type="password" name="password" id="password"><br><br>


    <button type="submit" class="btn btn-primary">Submit</button>

  </form>
</div>