@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Sagar's World</h1>
    <p>Learn about <a href="https://github.com/SagarSatav">welcome to my github</a>.</p>
</div>
